*{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
  display: flex;
  height: 90px;
  width: 100%;
  background-color: lightgreen;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 998;
  top: 0px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    position: sticky;
    background-color: lightgreen;
}
.logo{
    background-color: lightgreen;
    margin-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.div-logo{
  margin-right: 60px;
  height: 90px;
  width: 50px;
  display: flex;
  padding: 10px;
}
.logo-text{
    color: black;
   align-items: flex-end;
   margin-top: 25px;
}
.navbar a{
    text-decoration: none;
    color: black;
} 
.navbar ul {
   display: flex;
   margin-right: 40px;
    list-style: none;  
}
.navbar li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    background-color: lightgreen;
    font-size: 20px;
}
.navbar a:hover{
    color: white;
}
#hero-section{
   width: 100%;
   position: relative;
}

#hero-section img{
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: fill;
    
}
#hero-section-2 img{
  width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
}
.aside-section{
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 50vh;
}
.aside-helper, 
.aside-text-wrapper,
.aside-helper-x{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.aside-helper img{
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border: 3px solid lightgreen;
  margin-right: 27px;
  margin-top: 80px;
}
.aside-helper-x {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border: 3px solid lightgreen;
  margin-right: 27px;
  margin-top: 80px;
  background: url(./Media/lyfe-fuel-phY30gaxqS8-unsplash.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  margin-left: 8.5cm;
 
}
.aside-text-wrapper h1{
  font-size: 37px;
  border-bottom: 2px solid lightgreen;
  margin-bottom: 20px;
 
}
.aside-text-wrapper p{
  margin-right: 25px;
  line-height: 25px;
}
.aside-text-wrapper article{
  margin-top: 70px;
}

  .serivce-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 30px;
  }
  
  .service-card{
    width: 300px;
    margin: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) 0 3px 6px rgba(0,0,0,0.23);
  }
  .service-card a{
    text-decoration: none;
    color: black;
  }
  .service-card a:hover{
    color: white;
    border: 2px solid darkgreen;
    background-color: darkgreen;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
  }
  .service-card-header{
    background-color: darkgreen;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .service-card p{
    padding: 10px;
  }
  
  #about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  #about-section h2{
    font-size: 35px;
  }
  .about-section-icons-wrapper{
    margin-top: 20px;
  }
  .about-section-icons-wrapper i{
    margin: 0 10px;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
  }
  .about-section-icons-wrapper a{
    color: black;
  }
  .about-section-icons-wrapper i:hover{
    color: darkgreen;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    padding: 15px;
    border-top: 7px solid lightgreen;   
  }
  footer a {
    color: black;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    
}

  footer a:hover {
    color: lightgreen;
  }